.logo{
    background-color: antiquewhite;
}
.blocos{
    background-color: rgb(176, 219, 219);

}
.bloco2{
    background-color: aquamarine;


}
.bloco3{
    background-color: chartreuse;
}